/* ========== ESTILIZAÇÃO BÁSICA ========== */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: 'segoe UI', Roboto;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:#1a1a1a;
    line-height: 1.6;
}

/* ============== HEADER ===========*/
header{
   background-color: #fff;
   border-bottom: 3px solid #667eea;
   padding: 20px;
   text-align: center;
   box-shadow: 0 4px 15 rgba(0,0,0,0.1);
}
header h1{
   font-size: 28px;
   font-weight: 600; 
   color:#667eea;
   margin-bottom: 5px;
}
header p {
color: #666;
font-size: 14px;
}